---
import { Icon } from "astro-icon/components";
import "../styles/global.css";
---

<header>
  <div class="topbar">
    <div class="title">
      <h1>Gopesh</h1>
    </div>
    <div class="controls">
      <button>
        <Icon name="lucide:sun" />
      </button>
      <button>
        <Icon name="lucide:instagram" />
      </button>
      <button>
        <Icon name="lucide:github" />
      </button>
      <button>
        <Icon name="lucide:linkedin" />
      </button>
    </div>
  </div>

  <div class="nav-bar">
    <button aria-expanded="false" aria-controls="nav-links" class="menu">
      <Icon name="lucide:text-align-end" />
    </button>

    <div class="nav-links" id="nav-links">
      <a href="/"><h4>Home</h4></a>
      <a href="/about/"><h4>About</h4></a>
      <a href="/blog/"><h4>Blog</h4></a>
    </div>
  </div>
</header>
