---
import Menu from "./Menu.astro";
---

<div id="main-menu" class="navigation">
  <div class="nav-links">
    <a href="/"><h3>Home</h3></a>
    <a href="/about/"><h3>About</h3></a>
    <a href="/blog/"><h3>Blog</h3></a>
  </div>
  <Menu />
</div>
